.OuterContainer {
  background-color: #e0e0e0;
  height: 100vh;
  padding: 10px;
  padding-top: 50px;
  background: #94c2b7;
  background: linear-gradient(225deg, #85afa5, #9ed0c4);
  box-shadow: -5px 5px 10px #7ba198, 5px -5px 10px #ade3d6;
}

.eachChallenge {
  display: flex;
  padding: 20px 0px;
  margin: auto;
  width: 50%;
  border-radius: 14px;
  background: linear-gradient(225deg, #85afa5, #9ed0c4);
  box-shadow: -5px 5px 10px #7ba198, 5px -5px 10px #ade3d6;
  justify-content: space-between;
  margin-bottom: 30px;
  color: white;
}

.challengeNo {
  padding-left: 20px;
}

.challengeName {
  flex: 1;
  text-align: center;
}

.dayNo {
  justify-content: flex-end;
  padding-right: 20px;
}

@media screen and (max-width: 769px) {
  .eachChallenge{
    width: 100%;
  }
}